body{
  background-color: #FBE3FA;
}
.p1
{
    fill:white;
}

.main-color{
  color:#9F72FF
}
.bg-main-color{
  background-color:#9F72FF
}

.bg-image{
  background: url("./frame.png");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 889px;
}
